// COLORS
:root {
    --color-intro-email: hsl(217, 28%, 15%);
    --color-main-back: hsl(218, 28%, 13%);
    --color-footer: hsl(216, 53%, 9%);
    --color-testimonials: hsl(219, 30%, 18%);

    --color-cta-cyan: hsl(176, 68%, 64%);
    --color-cta-blue: hsl(198, 60%, 50%);

    --color-white: hsl(0, 0%, 100%);

    --default-font-size: 87.5%;

    --headings-family: 'Raleway', sans-serif;
    --body-family: 'Open Sans', sans-serif;

}

// MEDIA BREAKPOINTS
$bp-largest : 106.25em;
$bp-large : 83.25em;
$bp-medium : 69.35em;
$bp-small: 41.25em;

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: var(--default-font-size);
    @media only screen and (max-width: $bp-medium)
    {
        font-size: 62.5%;
    }

    @media only screen and (max-width: 50em)
        {
            font-size: 50%;
        }

}

body {
    font-family: var(--body-family);
    font-weight: 400;

    line-height: 1.7;
    color: var(--color-white);
    box-sizing: border-box;
}

.container {
    display: grid;
    grid-template-rows: repeat(3 , min-content) 40vw repeat(2 , min-content);
    grid-template-columns: repeat(8 , [col-start] minmax(min-content, 1fr) [col-end]);

    @media only screen and (max-width: $bp-small)
    {
        grid-template-rows: repeat(6 , min-content);
    }   

    
}

.u-margin-bottom-small { margin-bottom: 1.4rem; }
.u-margin-bottom-medium { margin-bottom: 2rem; }
.u-margin-bottom-big { margin-bottom: 8rem; }
.u-btn-helper {
    @media only screen and (max-width: 56.25em)
        {
            align-self: center;
            margin-top: 1.6rem;
            
        }
}

#u-btn-size {
    font-size: 0.9rem;
    width: 15rem;
    height: 3rem;
}