.header {
    grid-column: col-start 1 / col-end 8;
    background-color: var(--color-intro-email);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4rem;

    &__logo {
        cursor: pointer;
        width: 13rem;
    }

    &__nav {
        
        &-items {
            display: flex;
            list-style: none;
        }

        &-item {
            margin-left: 3rem;
            font-size: 1.1rem;
            cursor: pointer;
            filter: brightness(70%);
            transition: all .2s;
            &:hover {
                filter: brightness(100%);
            }
        }
    }
}